/*body of html page content*/
body
{
  background-color: #000321;
  padding-top: 0px;
  margin: 0%;
  border-left: 50px solid #14e5d0;
  border-right: 50px solid #14e5d0;
  border-bottom: 50px solid #14e5d0;
  font-family: 'Fira Code', monospace;
}

/*margin around sides of page content*/
margin
{
  padding-top: 0px;
  background-color:#000321;
  border-left: 10px solid #000321;
  border-right: 10px solid #000321;
  border-bottom: 10px solid #000321;
}

/* div for main page content in center*/
.pagecontent
{
  background-color: #000321;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 0%;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  padding-top: 0px;

}

/*header one*/
h1
{
  text-align: center;
  color: #f7f7fc;
}

/*header two*/
h2
{
  text-align: center;
  color: #f7f7fc;
}

/*paragraph text*/
p
  {
    text-align: center;
    color: #f7f7fc;
  }

/*email sign up form*/
  form
  {
    text-align: center;
    color: #f7f7fc;
    font-size: 150%
  }

/*submit button for launch*/
  #btnSubmit{
    background-color: #FF9F1C;
    height: 40px;
    width: 150px;
    margin: 12px;
    border-radius: 15px;
  }
